a:link{
  color:  #482482;
} 

.grid-container {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 65px 40px auto;
  
}

.title {
  grid-column: 2 / 3;
  grid-row: 1/2;
  background-color: #91bfd4;
  color: #482482;
}

.main {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 400px auto 100px;
  grid-template-rows: auto;
  background-color: #91bfd4;
  color: #482482;  
}

.text{ 
  font-size: 30px;
  background-color: #91bfd4;
  color: #482482;  
}
